<div>
    <div class="fflex align-start">
        <sly-field title="Provider">
            <el-select v-model="state.provider" placeholder="Select cloud provider">
                <el-option key="google" label="google cloud storage" value="google"></el-option>
                <el-option key="amazon" label="amazon s3" value="s3"></el-option>
                <el-option key="azure" label="azure storage" value="azure"></el-option>
            </el-select>
        </sly-field>
    </div>
    <div class="fflex align-start">
        <div v-if="context.slyDatasetId && state.format == 'nifti' && !state.createProjectfolder">
            <sly-field title="Bucket name" description="Export to <bucket name>/<dataset name>">
              <el-input v-model="state.bucketName"></el-input>
          </sly-field>
        </div>
        <div v-else>
            <sly-field title="Bucket name" description="Export to <bucket name>/<project name>">
              <el-input v-model="state.bucketName"></el-input>
          </sly-field>
        </div>
    </div>
    <div class="fflex align-start">
        <sly-field title="Export format">
            <el-select v-model="state.format" placeholder="Select format">
                <el-option key="sly" label="Supervisely (NRRD + JSON)" value="sly"></el-option>
                <el-option key="nrrd" label="NRRD" value="nrrd"></el-option>
                <el-option key="nifti" label="NIFTI" value="nifti"></el-option>
            </el-select>
        </sly-field>
    </div>
    <div v-if="state.format == 'nifti' || state.format == 'nrrd'" class="fflex align-start">
        <sly-field
            title="Annotations format (task type)" 
            description="Specify whether you want to export objects of class as a separate instances (instance segmentation) or as a single mask (semantic segmentation)"
        >
        <el-select v-model="state.segmentation" placeholder="Select format">
            <el-option key="instance" label="Instance segmentation" value="instance"></el-option>
            <el-option key="semantic" label="Semantic segmentation" value="semantic"></el-option>
        </el-select>
    </sly-field>
    </div>
    <div v-if="context.slyDatasetId && state.format == 'nifti'">
        <sly-field title="Create project folder"
            description="If enabled data will be exported to <bucket name>/<project name>/<dataset name>. Otherwise data will be exported to <bucket name>/<dataset name>">
            <el-checkbox v-model="state.createProjectfolder">Enable</el-checkbox>
        </sly-field>
    </div>
</div>
